In [1]:
# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>

select FIRST_NAME as WORKER_NAME from Worker;

In [ ]:
# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Select distinct DEPARTMENT from Worker;

In [ ]:
# Q-3. Write an SQL query to show the last 5 record from a table.

select * from sakila.actor(Table name) ORDER BY actor_id(column name) desc
limit 5